<form>
  <label for="fname">Nome:</label><br>
  <input type="text" id="fname" name="fname"><br>

  <label for="cpf">CPF:</label><br>
  <input type="text" id="cpf" name="cpf" maxlength="14" oninput="mascaraCPF(this)" placeholder="000.000.000-00"><br>>

  <label for="Data de nascimento">Data de Nascimento:</label><br>
  <input type="date" id="date" name="Data de nascimento"><br>

  <label for="Sexo"> Sexo:</label><br>
  <input type="radio" id="sexo" name="Feminino"><br>
  <input type="radio" id="sexo" name="Masculino"><br>
  <input type="radio" id="sexo" name="Outro"><br>
  <input type="radio" id="sexo" name="Prefiro ñão informar"><br>

  <label for="Função">Função:</label><br>
  <input type="text" id="Função" name="Função"><br>

  <label for="e-mail"> e-mail</label><br>
  <input type="email" id=e-mail name="e-mail"><br>

  <label for="Telefone">Telefone:</label><br>
  <input type="tel" id="Telefone" name="Telefone"><br>

  <label for="Endereço">Endereço:</label><br>
  <input type="text" id="Endereço" name="Endereço"><br>

  <label for="Número">Número:</label><br>
  <input type="text" id="Numero" name="Número"><br>

  <label for="Bairro"> Bairro:</label><br>
  <input type="text" name="bairro" maxlength="50" required />

 <label for="Cidade"> Cidade:</label><br>
 <input type="text" name="cidade" maxlength="50" required />

 <label for= "Estado"> Estado:</label><br>
 <input type="text" name="Estado" maxlength="50" required />

 <label for="CEP">CEP:</label><br>
 <input type="text" name="cep" maxlength="9" placeholder="00000-000" required />

 <div style="margin-top: 20px;">
  <button type="button" onclick="cancelar()">Cancelar</button>
  <button type="submit">Salvar</button>
</div>

</form>