<div class="form-container">
  <h2>Cadastro de Idioma</h2>

  <div class="form-group">
    <label for="nome">Nome do Idioma:</label>
    <input id="nome" type="text" placeholder="Ex: Português, Inglês, Espanhol..." />
  </div>

  

  <div class="form-group">
    <label for="status">Status:</label>
    <select id="status">
      <option value="ativo">Ativo</option>
      <option value="inativo">Inativo</option>
    </select>
  </div>

  <div class="button-group">
    <button type="button" (click)="cancelar()" class="btn-cancelar">Cancelar</button>
    <button type="button" (click)="salvar()" class="btn-salvar">Salvar</button>
  </div>
</div>
