<div class="form-wrapper">
  <div class="form-box">
    <h2>Cadastro de Gênero Literário</h2>

    <div class="form-group">
      <label for="nome">Nome do Gênero:</label>
      <input id="nome" type="text" placeholder="Informe o nome do gênero" />
      <div class="erro" id="erro-nome" style="display: none;">
        O nome é obrigatório.
      </div>
    </div>


    <div class="actions">
      <button type="button" onclick="cancelar()">Cancelar</button>
      <button type="submit">Salvar</button>
    </div>
  </div>
</div>

